@charset "utf-8";
/* CSS Document */
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,
textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	body{
		background: rgba(0,0,0,.2);
	}

	input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
	  margin: 7.95px 0;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 7.1px;
	  cursor: pointer;
	  box-shadow: 1.1px 1.1px 3.5px #5099b6, 0px 0px 1.1px #62a3be;
	  background: #cccccc;
	  border-radius: 25px;
	  border: 0px solid #000000;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  border: 1.9px solid rgba(62, 62, 62, 0.53);
	  height: 23px;
	  width: 17px;
	  border-radius: 50px;
	  background: #e6e6e6;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -7.95px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #d9d9d9;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 7.1px;
	  cursor: pointer;
	  box-shadow: 1.1px 1.1px 3.5px #5099b6, 0px 0px 1.1px #62a3be;
	  background: #cccccc;
	  border-radius: 25px;
	  border: 0px solid #000000;
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  border: 1.9px solid rgba(62, 62, 62, 0.53);
	  height: 23px;
	  width: 17px;
	  border-radius: 50px;
	  background: #e6e6e6;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 7.1px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #bfbfbf;
	  border: 0px solid #000000;
	  border-radius: 50px;
	  box-shadow: 1.1px 1.1px 3.5px #5099b6, 0px 0px 1.1px #62a3be;
	}
	input[type=range]::-ms-fill-upper {
	  background: #cccccc;
	  border: 0px solid #000000;
	  border-radius: 50px;
	  box-shadow: 1.1px 1.1px 3.5px #5099b6, 0px 0px 1.1px #62a3be;
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  border: 1.9px solid rgba(62, 62, 62, 0.53);
	  height: 23px;
	  width: 17px;
	  border-radius: 50px;
	  background: #e6e6e6;
	  cursor: pointer;
	  height: 7.1px;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #cccccc;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #ededed;
	}
	.time{
		width: 600px;
		height: 250px;
		margin: 0 auto;
		position: relative;
	}
	form{
		margin-top: 200px;
		border: 2px solid #BDBDBD;
		box-shadow: 0 10px 50px #CECECE;
		background: #DDDDDD;
	}
	.screen{
		width: 30%;
		padding: 5px;
		font-size: 25px;
		display: block;
		margin: 30px auto 70px;
		border: none;
		text-align: center;
		box-shadow: 0 5px 50px #440DBA;
		background: rgba(93,19,242,.7);
		color: #fff;
	}
	
	.screen:not([name='firstTag']){
		display: none;
	}
	
	.display{
		display: none;
	}

	#one, #two, #three{
		text-transform: uppercase;
		text-decoration: none;
		position: absolute;
		bottom: 0;
		background: rgb(11,9,14);
		padding: 15px 20px;
		border-radius: 5px;
		color: #fff;
		box-shadow: 0px 10px 50px #B385F8;
	}
	#one{
		left: 0;
	}
	#two{
		left: 37%;
	}
	#three{
		right: 0;
	}
	form{
		position: relative;
		z-index: 2;
	}

	#settings{
		z-index: 1;
		position: absolute;
		right:-15px;
		top: 20%;
		width: 50px;
		height: 50px;
		background: rgba(93,19,242,.7);
		box-shadow: 0px 0px 50px #B385F8;
		border-radius: 5px;
		display: block;
		opacity: 1;
		text-align: center;
		transition: 1s all;
	}
	
	#settings:hover{
		right: -60px;
	}
	
	#settings i{
		color: #fff;
		font-size: 20px;
		margin-top: 30%;
	}
	
	#play, #clear{
		position: absolute;
		bottom: -17%;
		color: #fff;
		background: rgb(11,9,14);
		padding: 15px 20px;
		border-radius: 5px;
	}
	#play{
		left: 140px;
	}
	
	#clear{
		right: 140px;
	}
	form a i{
		text-shadow: 0px 0px 20px #B385F8;
	}
#set{
	position: absolute;
	right: -240px;
	top: 0;
	background: #F0F0F0;
	padding: 10px;
	font-size: 18px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: none;
}

#set i{
	position: absolute;
	right: 10px;
	color: #BE0003;
	cursor: pointer;
}

#set li{
	border-bottom: 1px solid #7F7F7F;
	padding: 20px 20px 20px 10px;
}


#alarm{
	height: 18px;
	width: 18px;
	margin-right: 10px;
}

#cut{
	display: none;
}

#cut select{
	width: 100%;
}

#sound{
	text-decoration: none;
	color: #000;
}

#soundMenu{
	position: absolute;
	right: -100%;
	top: 0;
	background: rgb(255,255,255);
	height: 300px;
	width: 200px;
	display: none;
	border-radius: 0 0 5px 5px;
}

#volume{
	display: block;
}

#save{
	position: absolute;
	right: 10px;
	display: block;
	border:none;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #000;
	margin-top: 10px;
	cursor: pointer;
	padding: 10px;
	background: rgba(93,19,242,.7);
}

i.clockI{
	position: absolute;
	right: 150px;
	top: 32px;
	display: none;
	color: #fff;
	text-shadow: 0px 0px 10px rgba(93,19,242,1.00);
	cursor: pointer;
	font-size: 40px;
}

i.stopAlarm{
	position: absolute;
	right: 150px;
	top: 30px;
	display: none;
	color:rgba(160,0,0,1.00);
	cursor: pointer;
	font-size: 40px;
}
